@model RazorMVC.ViewModel.EditUserView

@{
    ViewData["Title"] = "EditUSer";
}

<h1>EditUSer</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUSer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserView.Id" class="control-label"></label>
                <input asp-for="UserView.Id" class="form-control" />
                <span asp-validation-for="UserView.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserView.Name" class="control-label"></label>
                <input asp-for="UserView.Name" class="form-control" />
                <span asp-validation-for="UserView.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserView.UserName" class="control-label"></label>
                <input asp-for="UserView.UserName" class="form-control" />
                <span asp-validation-for="UserView.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserView.Email" class="control-label"></label>
                <input asp-for="UserView.Email" class="form-control" />
                <span asp-validation-for="UserView.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserView.Password" class="control-label"></label>
                <input asp-for="UserView.Password" class="form-control" />
                <span asp-validation-for="UserView.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserView.PhoneNumber" class="control-label"></label>
                <input asp-for="UserView.PhoneNumber" class="form-control" />
                <span asp-validation-for="UserView.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserView.RoleId" class="control-label"></label>
                @* <input asp-for="RoleId" class="form-control" /> *@
                <select class="form-control" asp-for="UserView.RoleId" asp-items="@(new SelectList(Model.Roles, "Id", "RoleName"))"></select>
                <span asp-validation-for="UserView.RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserView.UserTypeId" class="control-label"></label>
                @* <input asp-for="UserTypeId" class="form-control" /> *@
                <select asp-for="UserView.UserTypeId" asp-items="@(new SelectList(Model.UserTypes, "Id", "TypeName"))" class="form-control"></select>
                <span asp-validation-for="UserView.UserTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
